/* 

colors 
#3D3C42
#19A7CE
#F6F1F1
#2C3333
#FFD56F
*/
/* 
// 0px - 320px: Extra small screens
// 320px - 480px: Phones
// 481px - 768px: Tablets
// 769px - 1024px: Small screens
// 1025px - 1280px: Desktops
// 1281px and above: Large screens */

:root {
     --color-primary: #3D3C42; /* var(--color-primary) */
     --color-secondary: #19A7CE; /* var(--color-secondary) */
     --color-white: #F6F1F1; /* var(--color-white) */
     --color-black: #2C3333; /* var(--color-black) */
    --color-gold: #FFD56F; /* var(--color-gold) */
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 768px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: small;
    }
    .profileContainer {
      border: 5px solid red;
    flex-direction: column !important;  

    }
  
    .profileAside {
        border: 5px solid blue;
    }
    .profileContentContainer {
        border: 5px solid green;
    }
  }



.main {
    background-color: var(--color-black); 
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
;

}

.appBar{
    background-color: var(--color-primary);
    margin: 0;
}

.defaultContainer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 100vh;
}
.teams {
    background-color: var(--color-primary);
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.profileContainer {
    background-color: var(--color-white);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    height: 90vh;
    width: 95%;
    align-self: center;
    border-radius: 16px;
}

.profileAside {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 16px 0 0 16px;
    }
.profileImgContainer {
    border: 5px solid var(--color-secondary);
    box-shadow: 0 0 10px 0 var(--color-gold);
    border-radius: 50%;
    overflow: hidden;
}
.profileContentContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;
    color: var(--color-black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 0 16px 16px 0;
  }
  
