/* 

colors 
#3D3C42
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    background-color: #3D3C42;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.appBar{
    background-color: #3D3C42;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
}