/* 

colors 
#3D3C42
#19A7CE
#F6F1F1
#2C3333
#FFD56F
*/
/* 
// 0px - 320px: Extra small screens
// 320px - 480px: Phones
// 481px - 768px: Tablets
// 769px - 1024px: Small screens
// 1025px - 1280px: Desktops
// 1281px and above: Large screens */

:root {
     --color-primary: #3D3C42; /* var(--color-primary) */
     --color-secondary: #19A7CE; /* var(--color-secondary) */
     --color-white: #F6F1F1; /* var(--color-white) */
     --color-black: #2C3333; /* var(--color-black) */
    --color-gold: #FFD56F; /* var(--color-gold) */
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 768px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: small;
    }
    .profileContainer {
    flex-direction: column !important;  

    }
  
    .profileAside {
        border-radius: 16px 16px 0 0 !important;;  
    }
    .profileContentContainer {
    }
  }



.main {
    background-color: var(--color-black); 
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
;

}

.appBar{
    background-color: var(--color-primary);
    margin: 0;
}

.defaultContainer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 100vh;
}
.teams {
    background-color: var(--color-primary);
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.profileContainer {
    background-color: var(--color-white);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    height: 90vh;
    width: 95%;
    align-self: center;
    border-radius: 16px;
}

.profileAside {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 16px 0 0 16px;
    }
.profileImgContainer {
    border: 5px solid var(--color-secondary);
    box-shadow: 0 0 10px 0 var(--color-gold);
    border-radius: 50%;
    overflow: hidden;
}
.profileContentContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;
    color: var(--color-black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
  }
  
/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    /* background-color: #f2f2f2; */
    padding: 2rem;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.npr.org/assets/img/2022/12/18/gettyimages-1450109553_wide-67012065e2d8be481f82550a2a0e5257dcd90168-s1400-c100.jpg");
    background-size: cover;
    background-position: center;
  }
  
  
  /* CTA section */
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    /* background-color:var(--color-white); */
    padding: 2rem;
    text-align: center;
  }
  
  .cta h2 {
    margin-bottom: 2rem;
  }
  
  .cta button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .cta button:hover {
    background-color: #0062cc;
  }
  
  /* Features section */
  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 2rem;
    text-align: center;
  }
  
  .features h2 {
    margin-bottom: 2rem;
  }
  
  .features ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 0.5rem;
  }
  
  /* Testimonials section */
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--color-gold);
    padding: 2rem;
    text-align: center;
    color: var(--color-black)
  }
  
  .testimonials h2 {
    margin-bottom: 2rem;
  }
  
  .testimonials blockquote {
    max-width: 50rem;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 2rem;
  }
  
  .testimonials blockquote cite {
    display: block;
    text-align: right;
    margin-top: 1rem;
  }
  